body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}

/*     HOME PAGE STYLES     */
.bg {
    background-image: url('https://via.placeholder.com/1920x1080');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
}

.btn-custom {
    padding: 20px 40px;
    font-size: 1.5rem;
    margin: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.btn-custom:hover {
    transform: scale(1.1);
}
.btn-custom:active {
    transform: scale(0.95);
}

/*footer */

footer {
    text-align: center;
    padding:1em 0;
    font-size: 1.2rem;
}

.container > div {
    padding: 1em 0;
}

.pride-logo {
    width:50px;
    height:50px;
}

@media screen and (min-width:1200px) {
    /* footer */
    footer {
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }
    
}