{% load static %}

<footer class="bg-dark text-white py-3 mt-auto">
    <div class="container">
        <div>
            <p><img src="{% static 'images/textlogo.webp' %}" alt="a rainbow gradient color plane" class="pride-logo">
            © 2024 | All rights reserved.</p>
        </div>
        <div class="social-links">
            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer nofollow"
                class="text-white me-3" aria-label="Visit our facebook page (opens in a new tab)"><i
                    class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer nofollow"
                class="text-white me-3" aria-label="Visit our instagram page (opens in a new tab)"><i
                    class="fab fa-instagram"></i>
            </a>
            <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer nofollow"
                class="text-white me-3" aria-label="Visit our Twitter page (opens in a new tab)"><i
                    class="fab fa-twitter"></i>
            </a>
            <a href="https://web.whatsapp.com/" target="_blank" rel="noopener noreferrer nofollow" class="text-white"
                aria-label="Connect with us on WhatsApp (opens in a new tab)"><i class="fab fa-whatsapp"></i>
            </a>
        </div>
        <div>
            <p>Created with <i class="fa-solid fa-heart"></i> by Diverse Devs (Team4) </p>
        </div>
    </div>
</footer>