{% load static %}
<footer class="text-white mt-auto pt-3 text-center">
    <div class="container row mx-auto">
        <div class="col-md-4 p-0 my-auto">
            <p class="mb-2"><img src="{% static 'images/textlogo.webp' %}" alt="a rainbow gradient color plane"
                    class="pride-logo">
            </p>
            <p>© 2024 | All rights reserved.</p>
        </div>
        <div class="social-links col-md-4 my-auto pb-4">
            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer nofollow"
                class="text-white me-3" aria-label="Visit our facebook page (opens in a new tab)"><i
                    class="fab fa-facebook-f fs-4"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer nofollow"
                class="text-white me-3" aria-label="Visit our instagram page (opens in a new tab)"><i
                    class="fab fa-instagram fs-4"></i>
            </a>
            <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer nofollow"
                class="text-white me-3" aria-label="Visit our Twitter page (opens in a new tab)"><i
                    class="fab fa-twitter fs-4"></i>
            </a>
            <a href="https://web.whatsapp.com/" target="_blank" rel="noopener noreferrer nofollow" class="text-white"
                aria-label="Connect with us on WhatsApp (opens in a new tab)"><i class="fab fa-whatsapp fs-4"></i>
            </a>
        </div>
        <div class="col-md-4 p-0 my-auto">
            <p>Created with <i class="fa-solid fa-heart"></i> by Diverse Devs (Team4) </p>
        </div>
    </div>
</footer>