{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}"><img id="nav-logo" src="{% static 'images/textlogo2.webp' %}"
                alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto d-flex align-items-center">
                <div class="nav-item">
                    <a class="nav-link hvr-underline-from-center" href="{% url 'index' %}">Home</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link hvr-underline-from-center" href="{% url 'search' %}">Search</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link hvr-underline-from-center" href="{% url 'blog' %}">Blog</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link hvr-underline-from-center" href="{% url 'about' %}">About</a>
                </div>
                {% if not user.is_authenticated %}
                <div class="nav-item">
                    <a class="nav-link hvr-underline-from-center" aria-current="page"
                        href="{% url 'account_signup' %}">Register</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link hvr-underline-from-center" aria-current="page"
                        href="{% url 'account_login' %}">Login</a>
                </div>
                {% else %}
                <div class="nav-item">
                    <a class="nav-link d-lg-none" href="{% url 'profile' %}">Profile</a>
                    <!-- This will be visible on screens smaller than lg -->
                    <a class="nav-link d-none d-lg-block" href="{% url 'profile' %}"><i
                            class="fa-solid fa-user"></i></a>
                    <!-- This will be visible on screens larger than lg -->
                </div>
                <div class="nav-item">
                    <a class="nav-link hvr-underline-from-center" aria-current="page"
                        href="{% url 'account_logout' %}">Logout</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>