{% extends 'base.html' %}{% load static %}

{% block content %}
<div class="container">
    <h1 class="mt-4">About Us</h1>
    <p class="lead">At Pride & Seek, we believe that travel is a universal joy that should be accessible, 
        safe, and affirming for everyone. Our mission is to create unforgettable travel experiences that celebrate diversity and 
        inclusivity.Whether you’re planning a solo adventure, a romantic getaway, or a group vacation, we’re here to ensure that 
        every journey you take is filled with wonder, safety, and acceptance.  </p>

    <h2 class="mt-5">Who We Are</h2>
    <p>
        Pride & Seek  was founded with a passionate commitment to the LGBTQ+ community. Our team comprises travel enthusiasts, 
        LGBTQ+ advocates, and experienced travel consultants who understand the unique needs and desires of LGBTQ+ travelers.
         We are dedicated to providing personalized travel services that cater to your specific interests and ensure you feel 
         comfortable and welcome wherever you go.
    </p>

    <div class="row mt-3">
        <div class="col-lg-6">
            <img src="{% static 'images/offers.webp' %}" class="img-fluid" alt="vibrant image grid showing diverse lgbtq joy of travel experiences">
        </div>
        <div class="col-lg-6 mt-5">
            <h2>What We Offer</h2>
            <ul>
                <li>
                    <h5>LGBTQ + Safe Locations</h5>
                    <p>
                        We meticulously curate destinations and accommodations that are known for their LGBTQ+ friendliness.
                        From bustling cities with vibrant queer scenes to serene retreats in nature, our travel experts will
                        help you find the perfect destination where you can be yourself.
                    </p>
                </li>
                <li>
                    <h5>Customized Travel Packages</h5>
                    <p>
                        Every traveler is unique, and so are our travel packages. Whether you’re dreaming of a beach vacation, 
                        a cultural tour, an adventure trip, or a relaxing spa retreat, we tailor our packages to suit your 
                        preferences and budget.
                    </p>
                </li>
                <li>
                    <h5>Community Connections</h5>
                    <p>
                        At Pride & Seek, we believe in the power of community. Our platform allows you to create a profile, 
                        share your travel experiences, and connect with other LGBTQ+ travelers. Exchange tips, find travel buddies,
                        and build lasting friendships through our vibrant online community.
                    </p>
                </li>
                <li>
                    <h5>Travel Planning and Support</h5>
                    <p>
                        From booking flights and accommodations to arranging local tours and activities, 
                        we handle all the details of your trip. Our dedicated support team is available around the 
                        clock to assist you with any queries or concerns, ensuring your travel experience is seamless 
                        and stress-free.
                    </p>
                </li>
                <li>
                    <h5>Events and Pride Celebrations</h5>
                    <p>
                        Join us for exclusive LGBTQ+ events and Pride celebrations around the world. 
                        Experience the joy and solidarity of Pride festivals, LGBTQ+ cultural events, and 
                        special gatherings that celebrate our community.
                    </p>
                </li>
            </ul>


        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-6">
            <h2>Our Commitment</h2>
            <p>
                At Pride & Seek, we are committed to promoting LGBTQ+ visibility, acceptance, and equality through travel. 
                We work closely with local partners and organizations to ensure that our services support and uplift LGBTQ+ 
                communities globally. We are proud to be a safe and inclusive space where you can explore the world without 
                fear of discrimination or prejudice.
            </p>
            <p>
                Embark on a journey of discovery, love, and pride with Rainbow Journeys. Let us help you create memories that 
                will last a lifetime, in places where you can truly be yourself. Visit our website to start planning your next 
                adventure, connect with fellow travelers, and discover a world of possibilities.
            </p>
        </div>
        <div class="col-lg-6 mb-4">
            <img src="{%static 'images/commitment.webp' %}" class="img-fluid" alt="About Image 2">
        </div>
    </div>
</div>
{% endblock %}